<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Shoppingzilla</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="/userHome/vendor/bootstrap/css/bootstrap.min.css">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="/userHome/vendor/font-awesome/css/font-awesome.min.css">
  <!-- Google fonts - Roboto -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
  <!-- owl carousel-->
  <link rel="stylesheet" href="/userHome/vendor/owl.carousel/assets/owl.carousel.css">
  <link rel="stylesheet" href="/userHome/vendor/owl.carousel/assets/owl.theme.default.css">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="/userHome/css/style.default.css" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="/userHome/css/custom.css">
  <!-- Favicon-->
  <link rel="shortcut icon" href="/userHome/img/favicon.png">
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>

<body>
  <!-- navbar-->
  <header class="header mb-5">
    <!--
      *** TOPBAR ***
      _________________________________________________________
      -->
    <div id="top">
      <div class="container">
        <div class="row">

        
        </div>
      </div>
      <div id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true" class="modal fade">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Customer login</h5>
              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span
                  aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
              <form action="#" method="post">
                <div class="form-group">
                  <input id="email-modal" type="text" placeholder="email" class="form-control">
                </div>
                <div class="form-group">
                  <input id="password-modal" type="password" placeholder="password" class="form-control">
                </div>
                <p class="text-center">
                  <button class="btn btn-primary"><i class="fa fa-sign-in"></i> Log in</button>
                </p>
              </form>
              <p class="text-center text-muted">Not registered yet?</p>
              <p class="text-center text-muted"><a href="#"><strong>Register now</strong></a>! It is easy
                and done in 1 minute and gives you access to special discounts and much more!</p>
            </div>
          </div>
        </div>
      </div>
      <!-- *** TOP BAR END ***-->


    </div>
    <nav class="navbar navbar-expand-lg">
      <div class="container"><a href="homepage" class="navbar-brand home"><img src="/userHome/img/logo.png"
            alt="ShoppingZilla logo" class="d-none d-md-inline-block"><img src="/userHome/img/logo-small.png"
            alt="ShoppingZilla logo" class="d-inline-block d-md-none"><span class="sr-only">ShoppingZilla - go to
            homepage</span></a>
        <div class="navbar-buttons">
          <button type="button" data-toggle="collapse" data-target="#navigation"
            class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle navigation</span><i
              class="fa fa-align-justify"></i></button>
          <button type="button" data-toggle="collapse" data-target="#search"
            class="btn btn-outline-secondary navbar-toggler"><span class="sr-only">Toggle search</span><i
              class="fa fa-search"></i></button><a href="basket.html"
            class="btn btn-outline-secondary navbar-toggler"><i class="fa fa-shopping-cart"></i></a>
        </div>
        <div id="navigation" class="collapse navbar-collapse">
          <ul class="navbar-nav mr-auto">
            {{!-- <li class="nav-item"><a href="#" class="nav-link active">Home</a></li> --}}
            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
                data-delay="200" class="dropdown-toggle nav-link">Men<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    {{#each header.category}}
                    <div class="col-md-6 col-lg-4">

                      <h5>{{this.type}}</h5>
                      <ul class="list-unstyled mb-3">
                        {{#each this.data}}
                        <li class="nav-item"><a href="category?id={{id}}&type=Men&categoryId={{../categoryId}}"
                            class="nav-link">{{type}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                    {{/each}}
                  </div>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown menu-large"><a href="#" data-toggle="dropdown" data-hover="dropdown"
                data-delay="200" class="dropdown-toggle nav-link">Women<b class="caret"></b></a>
              <ul class="dropdown-menu megamenu">
                <li>
                  <div class="row">
                    {{#each header.category}}
                    <div class="col-md-6 col-lg-4">

                      <h5>{{this.type}}</h5>
                      <ul class="list-unstyled mb-3">
                        {{#each this.data}}
                        <li class="nav-item"><a href="category?id={{id}}&type=Ladies&categoryId={{../categoryId}}"
                            class="nav-link">{{type}}</a></li>
                        {{/each}}
                      </ul>
                    </div>
                    {{/each}}
                  </div>
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown menu-large"><a href="category?id={{id}}&type=All&categoryId={{../categoryId}}"
                class="dropdown-toggle nav-link">All Items<b class="caret"></b></a>

            </li>
          </ul>
          <div class="navbar-buttons d-flex justify-content-end">
            <!-- /.nav-collapse-->
            <div id="search-not-mobile" class="navbar-collapse collapse"></div><a data-toggle="collapse" href="#search"
              class="btn navbar-btn btn-primary d-none d-lg-inline-block"><span class="sr-only">Toggle search</span><i
                class="fa fa-search"></i></a>
            <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="cart"
                class="btn btn-primary navbar-btn"><i class="fa fa-shopping-cart"></i><span>items in cart</span></a>
            </div>
            <div id="basket-overview" class="navbar-collapse collapse d-none d-lg-block"><a href="profile"
                class="btn btn-primary navbar-btn"><i class="fa fa-user"></i><span>My Profile</span></a>
            </div>


          </div>
        </div>
      </div>
    </nav>
    <div id="search" class="collapse">
      <div class="container">
        <form role="search" class="ml-auto">
          <div class="input-group">
            <input type="text" placeholder="Search" class="form-control">
            <div class="input-group-append">
              <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>
  <div id="all">
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- breadcrumb-->
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="homePage">Home</a></li>
                <li aria-current="page" class="breadcrumb-item active">My account</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-3">
            <!--
              *** CUSTOMER MENU ***
              _________________________________________________________
              -->
            <div class="card sidebar-menu">
              <div class="card-header">
                <h3 class="h4 card-title">Customer section</h3>
              </div>
              <div class="card-body">
                <ul class="nav nav-pills flex-column">
                  <a href="yourOrders" class="nav-link "><i class="fa fa-list"></i> My orders</a>
                     <a href="yourWallet" class="nav-link "><i class="fa fa-money"></i> Wallet</a>
                  {{!-- <a href="yourOrders" class="nav-link">
                    <i class="fa fa-heart"></i> My wishlist</a><a href="customer-account.html" class="nav-link"><i
                      class="fa fa-user"></i> My account</a><a href="index.html" class="nav-link"><i
                      class="fa fa-sign-out"></i> Logout

                  </a> --}}


                </ul>
                <ul class="nav nav-pills flex-column">
                  <a href="logout" class="nav-link "><i class="fa fa-power-off"></i> Log Out</a>



                </ul>
                {{!-- <form action="/api/user/logout" method="post" type="reset">

                  <button type="submit" class="btn btn-primary"><i class="fa fa-sign-in"></i>Log Out</button>

                </form> --}}
              </div>
            </div>
            <!-- /.col-lg-3-->
            <!-- *** CUSTOMER MENU END ***-->
          </div>
          <div class="col-lg-9">
            <div class="box">
              <div class="row justify-content-center">
              <img src="/wallet.jpeg" width="20%"/>
              <div>
               <h2>Wallet Amount</h2>
                 <h2 style="color:green">+ ₹ {{wallet.totalAmount}} Left</h2>
                     <h2 style="color:red">- ₹ {{wallet.spentAmount}} Spent</h2>
                 </div>
             </div>
               <br>
              <h1>My account</h1>
              <p class="lead">Change your personal details or your password here.</p>
              <p class="text-muted">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas.</p>
              <h3>Change password</h3>
              <form action="changePassword" method="post" >
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password_old">Old Password</label>
                      <input id="password_old" type="password" class="form-control" name="oldPassword">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password_1">New password</label>
                      <input id="password_1" type="password" class="form-control" name="newPassword">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="password_2">Re-type New password</label>
                      <input id="password_2" type="password" class="form-control" name="retypePassword">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                <div class="col-md-12 text-center">
                  <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save new password</button>
                </div>
              </form>
              <h3 class="mt-5">Personal details</h3>
              <form id="register"  action="updateMob" method="post" onsubmit="return validateForm()">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="firstname">Firstname</label>
                      <input id="firstname" type="text" class="form-control" name="firstName"
                        value="{{user.firstName}}">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="lastname">Lastname</label>
                      <input id="lastname" type="text" class="form-control" name="lastName" value="{{user.lastName}}">
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="company">E-mail</label>
                      <input id="company" type="text" class="form-control" name="email" value="{{user.email}}" readonly>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="street">Mobile Number</label>
                      <input id="mobileNumber" type="text" class="form-control" name="mobileNumber" value="{{user.mobile}}" onchange=validateMobileNumber()>
                    </div>
                  </div>
                </div>
                <!-- /.row-->
                {{!-- <div class="row">
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="city">Company</label>
                      <input id="city" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="zip">ZIP</label>
                      <input id="zip" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="state">State</label>
                      <select id="state" class="form-control"></select>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3">
                    <div class="form-group">
                      <label for="country">Country</label>
                      <select id="country" class="form-control"></select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="phone">Telephone</label>
                      <input id="phone" type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input id="email" type="text" class="form-control">
                    </div>
                  </div> --}}
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save changes</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--
    *** FOOTER ***
    _________________________________________________________
    -->
  <div id="footer">
    <div class="container">
      <div class="row">

        <!-- /.col-lg-3-->

        <!-- /.col-lg-3-->
        <div class="col-lg-6 col-md-6">
          <h4 class="mb-3">Where to find us</h4>
          <p><strong>ShoppingZilla Ltd.</strong><br>Duo City<br>#40<br>45Y
            73J<br>India<br><strong>Electronic City</strong></p><a href="contact">Go to contact page</a>
          <hr class="d-block d-md-none">
        </div>
        <!-- /.col-lg-3-->
        <div class="col-lg-6 col-md-6">
          <h4 class="mb-3">Get the news</h4>
          <p class="text-muted">Subscribe to get the latest product news</p>
          <form action="newsEmail" method="post" >
            <div class="input-group">
              <input name="newEmail" type="email" class="form-control"><span class="input-group-append">
                <button type="submit" class="btn btn-outline-secondary">Subscribe!</button></span>
            </div>
            <!-- /input-group-->
          </form>
          <hr>
          <h4 class="mb-3">Stay in touch</h4>
          <p class="social"><a href="https://www.facebook.com/anurag.ar.908?mibextid=ZbWKwL" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#"
              class="twitter external"><i class="fa fa-twitter"></i></a><a href="https://www.instagram.com/anurag96ar/" class="instagram external"><i
                class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i
                class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a>
          </p>
        </div>
        <!-- /.col-lg-3-->
      </div>
      <!-- /.row-->
    </div>
    <!-- /.container-->
  </div>
  <!-- /#footer-->
  <!-- *** FOOTER END ***-->


  <!--
    *** COPYRIGHT ***
    _________________________________________________________
    -->
  
  <!-- *** COPYRIGHT END ***-->
  <!-- JavaScript files-->
  
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" ></script>
  
  <script src="/userHome/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/userHome/vendor/jquery.cookie/jquery.cookie.js"> </script>
  <script src="/userHome/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/userHome/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
  <script src="/userHome/js/front.js"></script>
   <script src="/userHome/js/validation2.js"></script>
  <script>

function validateMobileNumber() {
    var mobileNumber = document.getElementById('mobileNumber').value;
    var mobileNumberRegex = /^(\+91)?[6-9]\d{0,9}$/;

    if (mobileNumberRegex.test(mobileNumber)) {
      document.getElementById('mobileNumber').style.border = '2px solid green';
    } else {
      document.getElementById('mobileNumber').style.border = '2px solid red';
    }
  }

  function validateForm() {
    var mobileNumber = document.getElementById('mobileNumber').value;
    var mobileNumberRegex = /^(\+91)?[6-9]\d{0,9}$/;

    if (!mobileNumberRegex.test(mobileNumber)) {
      alert('Invalid mobile number! Please enter a valid Indian mobile number.');
      return false; // Prevent form submission
    }

    return true; // Allow form submission
  }
  </script>
</body>

</html>